body {
	background-image: url("background.png");
	background-attachment: fixed;
	font-family: Arial;
}

.top-header {
	font-size: 100px;
	color: lightblue;
	text-align: center;
	padding: 20px;
	background-color: darkslategray
}

.fluxx-picture {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.navigation-bar {
	list-style-type: none;
	text-align: center;
	margin-top: 35px;
	
}

.navigation-bar li {
	display: inline-block;
	font-size: 50px;
	padding: 30px;
	text-decoration: none;
}

.navigation-bar li a {
	color: lightblue;
	background-color: darkslategray;
	text-decoration: none;
	padding: 25px;
}

.navigation-bar li  a:hover {
	background-color: gray;
	transition: background-color 0.5s ease;
}

.navigation-bar li a:link {
	transition: background-color 0.5s ease;
}

#about {
	margin-top: 100px;
	text-align: center;
	background-color: darkslategray;
	padding: 15px;
}

#about h1 {
	font-size: 100px;
	color: lightblue;
}

#about p {
	font-size: 75px;
	color: lightgray;
}

#socials {
	margin-top: 100px;
	text-align: center;
	background-color: darkslategray;
	padding: 10px;
}

#socials h1 {
	font-size: 100px;
	color: lightblue;
}

#socials ul {
	list-style-type: none;
}

#socials ul li {
	font-size: 75px;
	color: pink;
}