:root {
	--header-color-1: lightblue;
	--text-color-1: white;
	--text-color-2: pink;
	--text-background-color-1: darkslategray;
	--margin-1: 100px;
	--border-radius: 50px;
	--padding-1: 25px;
	--link-hover-color: gray;
}

body {
	background-image: url("background.png");
	background-attachment: fixed;
	font-family: Arial;
}

.top-header {
	font-size: 100px;
	border-radius: var(--border-radius);
	color: var(--header-color-1);
	text-align: center;
	padding: var(--padding-1);
	background-color: var(--text-background-color-1);
}

.fluxx-picture {
	margin-top: var(--margin-1);
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.navigation-bar {
	list-style-type: none;
	text-align: center;
	margin-top: var(--margin-1);
	
}

.navigation-bar li {
	display: inline-block;
	font-size: 50px;
	padding: var(--padding-1);
	text-decoration: none;
}

.navigation-bar li a {
	border-radius: var(--border-radius);
	color: var(--text-color-1);
	background-color: var(--text-background-color-1);
	text-decoration: none;
	padding: var(--padding-1);
}

.navigation-bar li  a:hover {
	background-color: var(--link-hover-color);
	transition: background-color 0.5s ease;
}

.navigation-bar li a:link {
	transition: background-color 0.5s ease;
}

#about {
	border-radius: var(--border-radius);
	margin-top: var(--margin-1);
	text-align: center;
	background-color: darkslategray;
	padding: var(--padding-1);
}

#about h1 {
	font-size: 100px;
	color: var(--header-color-1);
}

#about p {
	font-size: 75px;
	color: var(--text-color-1);
}

#socials {
	border-radius: var(--border-radius);
	margin-top: var(--margin-1);
	text-align: center;
	background-color: var(--text-background-color-1);
	padding: var(--padding-1);
}

#socials h1 {
	font-size: 100px;
	color: var(--header-color-1);
}

#socials ul {
	list-style-type: none;
}

#socials ul li {
	font-size: 75px;
	color: var(--text-color-2);
}