body {
	background-color: lightblue;
}

.main-header {
	margin-top: 50px;
	font-size: 80px;
	color: deeppink;
	text-align: center;
}

.rickroll-link {
	margin-top: 20px;
	font-size: 50px;
	text-decoration: none;
	color: blue;
	text-align: center;
	display: block;
}
